@page "/ingredients/create"
@using PizzaManager.BlazorServer.Service.Models
@using PizzaManager.BlazorServer.Service.Services


@inject IngredientsFrontService IngredientService

<h3>CreateIngredients</h3>

<EditForm Model="this.newIngredient" OnValidSubmit="this.CreateIngredient">
    <div class="form-group">
        <label for="nom" >Nom :</label>
        <InputText id="nom" class="form-control" @bind-Value="this.newIngredient.Nom" />
        <ValidationMessage For="() => this.newIngredient.Nom" />
    </div>
    
    <div class="form-group">
        <label for="nCal" >NCal :</label>
        <InputNumber id="nCal" class="form-control" @bind-Value="this.newIngredient.NCal" />
        <ValidationMessage For="() => this.newIngredient.NCal" />
        </div>
    
    <button type="submit">Soummettre</button>

</EditForm>

@code {
    private IngredientModel newIngredient = IngredientModel.Empty;

    private async Task CreateIngredient()
    {
        await this.IngredientService.CreateAsync(this.newIngredient);
        this.newIngredient = new () {Nom = ""};
    }

}
