@page "/pates"


<h3>Pates</h3>

<table class="table">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <tr style="height: 50px;">
        <td>
            <input @bind="this.newPateNom"/>
        </td>
        <td>
            <button @onclick="this.AjouterPateAsync">Ajouter</button>
        </td>

    </tr>
    @foreach (var pate in this.listePates)
    {
        <tr>
            <td>@pate.Nom</td>
            <td>
                <button @onclick="() => this.SupprimerPateAsync(pate.Id)">Supprimer</button>
            </td>
        </tr>
    }
    </tbody>
</table>